@{
    ViewData["Title"] = "Results";
}

@model Survey

<div class="mx-auto w-50">
    <h1>Submitted Info</h1>
    <div class="card shadow">
        <div class="card-body fs-3">
            <div class="mb-3 d-flex gap-3">
                <p class="w-50">Name:</p><p class="w-75">@Model.Name</p>
            </div>
            <div class="mb-3 d-flex gap-3">
                <p class="w-50">Dojo Location:</p><p class="w-75">@Model.DojoLocation</p>
            </div>
            <div class="mb-3 d-flex gap-3">
                <p class="w-50">Favorite Language:</p><p class="w-75">@Model.FavoriteLanguage</p>
            </div>
            <div class="mb-3 d-flex gap-3">
                <p class="w-50">Comment:</p>
                @{
                    if(Model.Comment == null)
                    {
                        <p class="text-secondary w-75">No Comment</p>
                    } else {
                        <p class="w-75">@Model.Comment</p>
                    }
                }
            </div>
            <div class="text-end"><a href="/" class="btn btn-primary">Back</a></div>
        </div>
    </div>
</div>